@font-face {
    font-family: "My Futura";
    src: url("../resources/fonts/futuran.ttf");
}

@font-face {
    font-family: "My Futura M";
    src: url("../resources/fonts/futuram.ttf");
}

@font-face {
    font-family: "My Futura B";
    src: url("../resources/fonts/futurab.ttf");
}

main {
    max-width: 450px;
    margin: 48px auto;
    font-family: "My Futura", sans-serif;
}

.main_header {
    text-align: center;
    margin-bottom: 48px;
}

.main_heading {
    font-family: "My Futura M", sans-serif;
    font-size: 32px;
    letter-spacing: 2px;
}

.main_heading .app-icon {
    width: 36px;
    text-indent: 48px;
    font-style: normal;
    background-position: center;
    margin-left: calc(0px - (48px + 48px + 36px + 36px));
}

.icon-piggyvest-logo {
    background: url('../resources/icons/piggyvest_logo.svg') no-repeat;
    background-size: contain;
    color: #ffffff;
}

form {
    background-color: #ffffff;
    border-radius: 1em 1em 1em 0;
    padding: 24px 40px;
}

.form-header {
    text-align: center;
    margin-bottom: 24px;
}

.form-heading {
    margin-bottom: 0;
    color: #083E9E;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.5px;
}

.form-description {
    margin-top: 6px;
    color: #4A5568;
    font-size: 15px;
}

.form-field {
    margin: 24px 0;
}

.form-label {
    display: inline-block;
    color: #4A5568;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 0.5px;
    margin: 12px 0;
}

.form-text-input, .form-select, .form-button {
    width: 100%;
    height: 56px;
    border: none;
}

.form-text-input {
    border-radius: 8px;
    background-color: #EDF2F7;
    padding: 0 1em;
    font-size: 15px;
    width: calc(100% - 2em);
}

.form-text-input::placeholder {
    color: #B1AEC0;
    font-weight: 500;
}

form select {
    border-radius: 8px;
    background-color: #EDF2F7;
    padding: 0 8px;
    font-size: 15px;
    letter-spacing: 0.5px;
    color: #222222;
}

.form-button {
    text-align: center;
}

.form-button {
    background-color: #083E9E;
    border-radius: 1em 1em 1em 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    vertical-align: middle;
}

.main-footer {
    text-align: center;
    margin: 36px 0;
    font-size: 14px;
}

.main-footer a, .main-footer a:active, .main-footer a:visited {
    color: #ffffff;
    text-decoration: none;
}

.main-footer a:hover {
    color: #B1AEC0;
}
