body {
    background: url("./resources/images/piggyvest_background.svg") #062863 no-repeat fixed center;
    background-size: cover;
    color: #ffffff;
}

.page_container {
    height: 100%;
}

.app-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    height: auto;
    text-decoration: none;
}